<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIKIDOTA"
        tools:targetApi="31">
        <activity
            android:name=".character.ZeusActivity"
            android:exported="false" />
        <activity
            android:name=".character.WithDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".character.WarlockActivity"
            android:exported="false" />
        <activity
            android:name=".character.TinkerActivity"
            android:exported="false" />
        <activity
            android:name=".character.StromSpiritActivity"
            android:exported="false" />
        <activity
            android:name=".character.SkywrathMagActivity"
            android:exported="false" />
        <activity
            android:name=".character.SilencerActivity"
            android:exported="false" />
        <activity
            android:name=".character.ShadowShamanActivity"
            android:exported="false" />
        <activity
            android:name=".character.ShadowDemonActivity"
            android:exported="false" />
        <activity
            android:name=".character.RubickActivity"
            android:exported="false" />
        <activity
            android:name=".character.QueenofPainActivity"
            android:exported="false" />
        <activity
            android:name=".character.PugnaActivity"
            android:exported="false" />
        <activity
            android:name=".character.PuckActivity"
            android:exported="false" />
        <activity
            android:name=".character.OutworldDestroyerActivity"
            android:exported="false" />
        <activity
            android:name=".character.OracleActivity"
            android:exported="false" />
        <activity
            android:name=".character.NecrophosActivity"
            android:exported="false" />
        <activity
            android:name=".character.NaturesProphetActivity"
            android:exported="false" />
        <activity
            android:name=".character.MuertaActivity"
            android:exported="false" />
        <activity
            android:name=".character.LionActivity"
            android:exported="false" />
        <activity
            android:name=".character.LinaMainActivity"
            android:exported="false" />
        <activity
            android:name=".character.LIchActivity"
            android:exported="false" />
        <activity
            android:name=".character.LesharcMainActivity"
            android:exported="false" />
        <activity
            android:name=".character.KeeperoftheLightActivity"
            android:exported="false" />
        <activity
            android:name=".character.JakiroActivity"
            android:exported="false" />
        <activity
            android:name=".character.InvokerActivity"
            android:exported="false" />
        <activity
            android:name=".character.GrimstrokeActivity"
            android:exported="false" />
        <activity
            android:name=".character.DisruptorActivity"
            android:exported="false" />
        <activity
            android:name=".character.DeathProphetActivity"
            android:exported="false" />
        <activity
            android:name=".character.CrystalMaidenActivity"
            android:exported="false" />
        <activity
            android:name=".character.AncientApparatActivity"
            android:exported="false" />
        <activity
            android:name=".character.EnchantressActivity"
            android:exported="false" />
        <activity
            android:name=".MobileActivity"
            android:exported="false" />
        <activity
            android:name=".IQActivity"
            android:exported="false" />
        <activity
            android:name=".SpeedActivity"
            android:exported="false" />
        <activity
            android:name=".PowerActivity"
            android:exported="false" />
        <activity
            android:name=".Items"
            android:exported="false" />
        <activity
            android:name=".Character"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>